// 1. Переменные, миксины и настройки
@import 'variables';
@import 'card-mixins';

// 2. Bootstrap и библиотеки
@import 'bootstrap/scss/bootstrap';
@import 'lightbox2/dist/css/lightbox.min.css';
@import "font-awesome";

// 3. Наши утилиты
@import 'utilities';

// 4. Глобальные стили
@import 'common';
@import 'layout';
@import 'form';

// 5. Компоненты
@import 'components/custom-list';
@import 'components/public';
@import 'components/help-desk';
@import 'components/auth';
@import 'components/news';
@import 'components/calendar';
@import 'components/errors';
@import 'components/overlays';
@import 'components/profile';
@import 'components/queue-manager';
@import 'components/editors';
@import 'components/admin-blocks';
@import 'components/slider';
@import 'components/menus/vertical-menu';
@import 'components/menus/side-menu';

// 6. Шаблонные и временные стили
@import 'template';
@import 'crutches';

// 7. Остальные правила
body,
html {
    min-height: 100vh;
    font-size: $font-size;
}

.nav-link {
    cursor: pointer;
}

h1 {
    a {
        color: unset;
        text-decoration: none;
    }
}
