.left-0 {
    left : 0;
}

.right-0 {
    right : 0;
}

.top-0 {
    top : 0;
}

.bottom-0 {
    bottom : 0;
}

// height
.vh-25 {
    height : 25vh !important;
}

.vh-30 {
    height : 30vh !important;
}

.vh-50 {
    height : 50vh !important;
}

.underline-none {
    text-decoration: none;
}

.borderless {
    border: none !important;
    box-shadow: none !important;
}