.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
    background-color : transparent;
}

.form-floating > .form-control::placeholder {
    opacity    : 0.8 !important;
    font-style : italic;
    position   : absolute;
    bottom     : 0.8em;
    color      : #6c757d; /* стандартный цвет плейсхолдера */
}

body.modal-open {
    padding-right : 0 !important;
}