form,
.form {
    .form-error {
        &:not(input) {
            color      : $color-danger;
            font-style : italic;
            font-size  : 0.8em;
        }

        &ul, &ol {
            list-style-type : none;
            margin-top      : 0.5rem;
            padding         : 0 0.5rem;
        }

        &.form-control {
            box-shadow : 0 0 2px $color-danger;
        }
    }

    .form-control {
        border-radius : 0;
        border        : 0;
        box-shadow    : 0 0 2px $color-light-gray;

        &:focus {
            box-shadow : 0 0 2px $default-primary;
            outline    : none;
        }

        &label {
            padding    : 0;
            border     : 0;
            box-shadow : none;
        }
    }

    &.alert-success {
        box-shadow : 0 0 10px $color-success;
    }

    &.alert-danger {
        box-shadow : 0 0 10px $color-danger;
    }
}

.form-control,
.form-floating {
    &:disabled {
        background-color : #f8f8f8;
    }
}

.label-checkbox {
    cursor : pointer;
}