#topNavBar {
    background-color : $default-primary !important;

    .nav-link {
        color : #FFF !important;
    }

    .navbar-brand {
        display     : flex;
        align-items : center;
        color       : #ffffff;
        padding     : 0 0 3px 0;

        .logo {
            margin-right    : 10px;
            height          : 30px;
            width           : 30px;
            background-size : contain;
            border-radius   : 50%;
        }
    }
}


h1, h2, h3, h4, h5, h6,
.btn-link,
a:not(.btn) {
    color : $default-primary;
}

.active {
    .page-link {
        background-color : $default-primary;
        border-color     : $default-primary;
        color            : white !important;
    }
}

.dropdown-item:active {
    background-color : $default-primary;
    color            : white;
}

.form-check-input {
    &:checked {
        background-color : $default-primary;
        border-color     : $default-primary;
    }

    &:focus {
        border-color : $default-light;
        box-shadow   : 0 0 0 0.25rem $default-light;
    }
}


footer {
    background-color : #ffffff;
}

hr {
    border-color : $default-primary;
}

.border-top,
.border-bottom {
    border-color : $default-primary !important;
}

.page-title {
    font-weight   : bold;
    border-bottom : 2px solid $default-primary;
}

.layout-page {
    display : flex;

    .block-main.no-sub {
        width : 100%;
    }

    .block-sub {
        width         : 30%;
        padding-right : $font-size;
    }

    .block-main {
        width : 70%;
    }

    @media (max-width : $lg) {
        & {
            flex-direction : column;
        }

        .block-sub,
        .block-main {
            width : 100%;
        }

        .block-sub {
            margin-bottom  : 1rem;
            padding-bottom : 1rem;
            border-bottom  : 1px solid $default-primary;
        }
    }
}

.breadcrumb {
    .breadcrumb-item {
        a {
            text-decoration : none;
        }
    }
}

