.custom-list {
    &.list {
        >.list-item {
            >.body {
                padding-bottom: 1em;
            }
            >.footer {
                padding-bottom : 1em;

                .files {
                    .file {

                    }
                }
            }

            border-bottom : 1px solid $border-color;
        }
    }

    .list-item {
        margin-bottom : 2em;
        border-radius : $border-radius;

        .id,
        .date {
            color      : $color-gray;
            font-style : italic;
        }
    }
}