.custom-list {
    &.plate {
        .list-item {
            .body {
                border  : 1px solid $border-color;
                padding : 0.5em;

                &:hover {
                    background-color : $color-light-gray-hover;
                    cursor           : pointer;
                }
            }
        }
    }

    &.list {
        .list-item {
            .body {
                padding-bottom: 1em;
            }
            .footer {
                padding-bottom : 1em;

                .files {
                    .file {
                        margin : 0.4em 0;
                    }
                }
            }

            border-bottom : 1px solid $border-color;
        }
    }

    .list-item {
        margin-bottom : 2em;
        border-radius : $border-radius;

        .id,
        .date {
            color      : $color-gray;
            font-style : italic;
        }
    }
}