.custom-item {
    overflow-x : hidden;

    &:not(:last-child) {
        margin-bottom : 10px;
    }

    .title {
        h1 {
            line-height : 0.8em;
            margin      : 0;
            overflow    : hidden;
        }

        .name {
            text-decoration : none;
            font-size       : 0.8em;
        }

        .date {
            padding-left : 4px;
        }
    }
}