.files-list {
    .file-item {
        .body {
            padding-bottom: 1em;
            white-space   : nowrap;
            text-overflow : ellipsis;
            overflow      : hidden;
        }

        .name {
            text-decoration : none;
        }
    }
}