
.folder-item {
    position        : relative;
    padding         : 5px;
    display         : flex;
    flex-direction  : row;
    justify-content : start;
    align-items     : center;

    .folder-image {
        display             : block;
        height              : 50px;
        width               : 50px;
        cursor              : pointer;
        background-size     : contain;
        background-position : center center;
        background-repeat   : no-repeat;
    }

    .name {
        text-align      : left;
        line-height     : 1.15rem;
        overflow        : clip;
        text-decoration : none;
        color           : black;
        cursor          : pointer;
    }

    .date {
        color      : $color-gray;
        font-style : italic;
        padding    : 0 4px;
        text-align : center;
        font-size  : 0.8em;
    }
}