.news-item,
.news-list .news-item {
    &:not(:last-child) {
        margin-bottom : 10px;
    }

    .title {
        h1 {
            line-height : 0.8em;
            margin      : 0;
        }

        .name {
            text-decoration : none;
            font-size       : 0.8em;
            color           : $color-primary;
        }

        .date {
            padding-left : 4px;
        }
    }
}