.news-item,
.news-list .list-item {
    .title {
        border-bottom : 1px solid $border-color;

        .name {
            text-decoration : none;
            color           : unset;
        }
    }
}