.news-item {
    .news-item-wrapper {
        position         : absolute;
        height           : 100px;
        width            : 100%;
        bottom           : 0;
        z-index          : 1;
        background-image : linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 75%, #fff);
        display          : flex;
        justify-content  : center;
        align-items      : end;
        cursor           : pointer;

        .btn-link {
            text-decoration : none;
        }
    }
}

.side-news {
    .news-item {
        .name {
            font-size : $font-size;
        }
    }
}

.index-news {
    .news-item {
        .name {
            font-size : $font-size;
        }
    }
}