.report-list {
    &.plate {
        .report-item {
            .body {
                border  : 1px solid $border-color;
                padding : 0.5em;

                &:hover {
                    background-color : $color-light-gray-hover;
                    cursor           : pointer;
                }
            }
        }
    }

    &.list {
        .report-item {
            .footer {
                padding : 1em 0;

                .files {
                    .file {
                        margin-top : 0.8em;
                    }
                }
            }

            border-bottom : 1px solid $border-color;
        }
    }

    .report-item {
        margin-bottom : 2em;
        border-radius : $border-radius;
    }
}

.report-item {
    .id,
    .date {
        color      : $color-gray;
        font-style : italic;
    }

    .year {
        color : $color-gray;
    }

    .period {
        font-size : 0.8em;
    }

    .name {
        &.no-name {
            color      : $color-light-gray;
            font-style : italic;
        }
    }
}