.slider {
    height           : 50vh;
    border-radius    : 15px;
    overflow: hidden;

    background-color : $light-green;
    border           : 1px solid $light-green;

    .carousel {
        height : inherit !important;

        .carousel-inner {
            height : inherit !important;

            .carousel-item {
                height : inherit !important;

                .carousel-img-container {
                    height          : inherit !important;
                    width           : 100% !important;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;

                    img {
                        max-height : 100%;
                        max-width  : 100%;
                        margin     : auto;
                        display    : block;
                    }
                }
            }
        }

    }
}